@import './_colors'

.logo-text
  font-size: 2.4rem

.text-3xl
  font-size: 2.0rem

.title-text
  font-size: 1.8rem

.text-2xl
  font-size: 1.6rem

.text-xl
  font-size: 1.5rem

.text-lg
  font-size: 1.4rem

.text-md
  font-size: 1.3rem

.text-sm
  font-size: 1.2rem

.text-xs
  font-size: 1.0rem

.light
  font-weight: 300

.medium
  font-weight: 500

.text-navy-500
  color: $navy-500

.text-light-navy-500
  color: $light-navy-500
