@use './product_cart/product_card' 
@import '../../../../styles/_general'
@import '../../../../styles/_breakpoints'

.products-cont
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-column-gap: $spacing-lg
  grid-row-gap: $spacing-lg
  border-radius: $rounded-md

  @media (min-width: $breakpoints-sm)
    grid-template-columns: repeat(3, 1fr)
    grid-column-gap: $spacing-lg + 4
    grid-row-gap: $spacing-lg + 4
    border-radius: $rounded-md + 4

  @media (min-width: $breakpoints-md)
    grid-template-columns: repeat(4, 1fr)
    grid-column-gap: $spacing-lg + 8
    grid-row-gap: $spacing-lg + 8
    border-radius: $rounded-md + 8

  @media (min-width: $breakpoints-xl)
    grid-template-columns: repeat(6, 1fr)
    grid-column-gap: $spacing-lg + 16
    grid-row-gap: $spacing-lg + 16
    border-radius: $rounded-md + 16

.center
  width: 100%
  height: 200px
  display: flex
  gap: $spacing-md
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative

.loader
  width: 60px
  height: 60px
  position: absolute
  margin: auto
  border: 6px solid $navy-100
  border-bottom-color: $navy-500
  border-radius: 50%
  display: inline-block
  box-sizing: border-box
  animation: rotation 1s linear infinite

  @keyframes rotation
    0%
      transform: rotate(0deg)

    100%
      transform: rotate(360deg)

.icon-error
  stroke: $navy-500
  width: 40px
  height: 40px
  stroke-width: 3

.button-error
  background: none
  padding: $spacing-sm $spacing-md
  border: 2px solid $navy-200
  border-radius: $spacing-md
  color: $navy-200

  &:hover, &:focus-visible
    cursor: pointer
    background: $navy-500-trasparent
