@use './product_cart/product_card' 
@import '../../../../styles/_general'
@import '../../../../styles/_breakpoints'

.products-cont
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-column-gap: $spacing-lg
  grid-row-gap: $spacing-lg
  border-radius: $rounded-md

  @media (min-width: $breakpoints-sm)
    grid-template-columns: repeat(3, 1fr)
    grid-column-gap: $spacing-lg + 4
    grid-row-gap: $spacing-lg + 4
    border-radius: $rounded-md + 4

  @media (min-width: $breakpoints-md)
    grid-template-columns: repeat(4, 1fr)
    grid-column-gap: $spacing-lg + 8
    grid-row-gap: $spacing-lg + 8
    border-radius: $rounded-md + 8

  @media (min-width: $breakpoints-xl)
    grid-template-columns: repeat(6, 1fr)
    grid-column-gap: $spacing-lg + 16
    grid-row-gap: $spacing-lg + 16
    border-radius: $rounded-md + 16
