@import '../../styles/_general'

.home-layout
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: repeat(4, auto)
  margin: $spacing-xl
  grid-row-gap: $spacing-xl

  @media (min-width: $breakpoints-sm)
    margin: $spacing-xl + 4

  @media (min-width: $breakpoints-md)
    margin: $spacing-xl + 8

  @media (min-width: $breakpoints-xl)
    width: 1200px
    margin: $spacing-xl auto

  @media (min-width: $breakpoints-2xl)
    width: 1300px
    margin: $spacing-xl auto
